<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <div id="page-border">
        <header id="header">
            <nav id="nav" class="center grid-1">
                <p class="logo text-left">
                    <a asp-action="Index" asp-controller="Applicants" class="site-logo" alt="Home" title="Designed by Nivetha Ramachandran">
                        <span class="logo-text">N.R</span>
                    </a>
                </p>
                <p class="text-right ">
                    <a href="~/About.html">{About}</a>
                </p>
                @if (User.Identity.IsAuthenticated)
                {
                    <p class="text-right">
                        <a asp-action="Project" asp-controller="Applicants">{Projects}</a>
                    </p>
                    <p class="text-right">
                        <a asp-action="Academic" asp-controller="Applicants">{Academics}</a>
                    </p>
                    <p class="text-right">
                        <a asp-action="Professional" asp-controller="Applicants">{Professional Exp}</a>
                    </p>
                    <p class="text-right">
                        <a asp-action="File" asp-controller="Applicants">{Files}</a>
                    </p>
                    <p class="text-right">
                        <a asp-action="Comment" asp-controller="Recruiters" asp-route-name="@User.Identity.Name">{Comments}</a>
                    </p>
                    <p class="text-right">{Hi @User.Identity.Name} </p>
                    <p class="text-right">
                        <a href="~/Identity/Account/Logout">{LogOut}</a>
                    </p>
                }
                else
                {
                    <p class="text-right">
                        <a href="~/Identity/Account/Register">{SignUp}</a>
                    </p>
                    <p class="text-right">
                        <a href="~/Identity/Account/Login">{Login}</a>
                    </p>
                }
            </nav>
        </header>
        <div>
            @RenderBody()
        </div>
            <footer id="footer">
                <hr>
                Email: niramach@syr.edu |
                Phone: 315-224-0700   |
                <a href="https://www.linkedin.com/in/nivetha-ramachandran/">LinkedIn</a>
            </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
